<h1 class="display-3 fw-bold text-center">Agregar destino</h1>

<div class="container pt-5 w-50">
    <form action="/Destinos/Editar" id="form" runat="server" class="form" method="post">
        <input type="number" name="id" value="@Model.DestinoID" class="d-none" />
        <div class="form-group my-2">
            <label class="block">Nombre:</label>
            <input type="text" name="nombre" class="form-control" value="@Model.Nombre"/>
        </div>
        <div class="form-group my-2">
            <label class="block">Imagen:</label>
            <input type="text" name="imagen" class="form-control" value="@Model.Imagen" />
        </div>
        <div class="form-group my-2">
            <label class="block">País:</label>
            <input type="text" name="pais" class="form-control" value="@Model.Pais" />
        </div>
        <div class="form-group my-2">
            <label class="block">Zona:</label>
            <input type="text" name="zona" class="form-control" value="@Model.Zona" />
        </div>
        <div class="form-group my-2">
            <label class="block">Descripción:</label>
            <textarea class="form-control" cols="30" rows="5" name="descripcion">@Model.Descripcion</textarea>
        </div>
        <div class="form-group my-2">
             <input type="submit" value="Editar" class="form-control btn btn-dark" />
        </div>
    </form>
</div>
